{% load compress staticfiles %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Food{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{% static 'food/lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        {% compress css %}
            <link href="{% static 'food/css/screen.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
            <link href="{% static 'food/css/print.css' %}" media="print" rel="stylesheet" type="text/css" />
            <link href="{% static 'food/css/master.css' %}" rel="stylesheet" type="text/css" />

            {% block extra_css %}{% endblock %}
        {% endcompress %}
        <!--[if IE]>
            <link href="{% static 'food/css/ie.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="{% static 'food/lib/jquery/dist/jquery.min.js' %}"></script>

        <link rel="shortcut icon" href="{% static 'food/ico/favicon.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'food/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'food/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'food/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'food/ico/apple-touch-icon-57-precomposed.png' %}">
    </head>
    <body class="{% block body-class %}{% endblock %}">

        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Welcome!</h1>
                    <p>This is the default project page for Food.</p>
                </div>
                <div class="col-md-4">
                    <h2>What now?</h2>
                    <p>How about:</p>
                    <ul>
                        <li>Looking around <a href='/admin/'>the admin</a></li>
                        <li>Adding your apps for <em>Food</em></li>
                        <li>Hooking them up to your <em>urls.py</em></li>
                        <li>Styling this page using Bootstrap!</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}

        <script src="{% static 'food/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>

        {% compress js %}
        <script src="{% static 'food/js/global.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock %}
    </body>
</html>
